.App {
  text-align: center;
  background: #245027;
  width: 100vw;
  height: 100vh;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.plan-journey {
  align-items: center;
  position: 80vh;
  margin-top:50%;
}

.select-box {
  margin: 5%;
  border: double;
}

.navigation-buttons {
  position: 80vh;
  margin: 5%;
  padding: 5%;
}

.btn-primary {
  background-color: white !important;
  color: black !important;
  border-color: black !important;
}

.btn-primary:active .btn-primary:hover .btn-primary:selected {
  background-color: #d0d0d0 !important;
}

.login-buttons {
  margin-top: 15vh;
}